#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Install BBQLinux
GenericName=Live Installer
Comment=Install BBQLinux to harddisk
Exec=sudo /usr/bin/calamares  -d > installation.log
Icon=calamares_bbqlinux_icon_blue_48x48
Terminal=False
Type=Application
Categories=System;
